<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>All Posts</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/style.css">
<body>

    <h1 class="post">Sagar's Blog</h1>
    
    <% for(post of posts){ %>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <h3 class="idd">ID: <%= post.cwid %></div><h3>
            <br />
        </div>

   <% } %>

</body>
</html>

