<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Create Posts</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/style.css">
<body>

    <h1 class="post">Create</h1>
    
    <form method="post" action="/posts">
        <input placeholder="enter username" name="username" />
        <input placeholder="enter CWID" name = "cwid" />
        <br /> <br />
        <textarea placeholder="Content" name="content"> </textarea>
        
        <br />
        <br />
        <button>Submit Post</button>
    </form>

</body>
</html>

